body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow: scroll;
}


/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* 폰트 크기 조절 */
  }
}

/* 화면 크기가 769px 이상일 때 */
@media (min-width: 769px) {
  body {
    font-size: 16px; /* 폰트 크기 조절 */
  }
}

/* nav, list 에서 선택된 item */
.selected {
  font-weight: bold;
  color: #1E90FF; /* 파란색 */
  text-shadow: 5px 5px 10px rgba(77, 148, 255, 1);
}