body {
  font-family: 'Noto Sans KR', sans-serif;
  overflow: scroll;
}


/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* 폰트 크기 조절 */
  }
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* 제목의 최대 너비 설정 */
  }
}

/* 화면 크기가 769px 이상일 때 */
@media (min-width: 769px) {
  body {
    font-size: 16px; /* 폰트 크기 조절 */
  }
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 310px; /* 제목의 최대 너비 설정 */
  }
}

/* nav, list 에서 선택된 item */
.selected {
  font-weight: bold;
  color: #1E90FF; /* 파란색 */
  text-shadow: 5px 5px 10px rgba(77, 148, 255, 1);
}

.text-container-wrap {
  white-space: normal; /* 텍스트 줄바꿈 활성화 */
  overflow: visible; /* 오버플로우 허용 */
  overflow-wrap: break-word; /* 긴 단어나 문자열을 wrap */
}

/*.text-container {*/
/*  max-width: 300px; !* 원하는 최대 너비 설정 *!*/
/*  overflow-wrap: break-word; !* 긴 단어나 문자열을 wrap *!*/
/*}*/